*{margin: 0; padding: 0; font: normal 12px "Dotum"}
ul,li{list-style: none;}
a{text-decoration: none; color: #333;}
#warpper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* header */
header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #fefefe;
    background-repeat: repeat-x;
    background-image: url(../img/header_bg.png);
    background-position: bottom;
}
header > div{
    position: relative;
    width: 1000px;
    height: 100px;
    box-sizing: border-box;
    margin: 0 auto;
    background: url(../img/);
}

header > div > img{
    float: left;
}
header > div > .lnb{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}


header > div > ul {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    box-sizing: border-box;
}
header > div > ul > li {
    float: left;
    width: 20%;
    height: 100%;
    border-right: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    line-height: 28px;
    background: #becedb;
}
header > div > ul > li:nth-child(1){
    border-left: 1px solid white;
}
header > div > .gnb {}
header > div > .gnb > li> a{
    font-weight: bold;
    color: white;
}

header > div > div> .gnb > li> a:hover{
    color: #9eafbd;
    font-weight: bold;
}

/* main */
main{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
main > section{
    width: 100%;
    height: 648px;
    box-sizing: border-box;
    background: url(../img/main_bg.png);
    padding-top: 28px;
}
main > section > div{
    float: left;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;
}
main > section > div:nth-of-type(5){
    clear: left;
}
main > section > div:nth-of-type(7){
    clear: left;
    margin-left: 200px;
}

/*main > content */
main > section > .box1{
    position: relative;
    background: url(../img/main_box1_bg.png);
}
main > section > .box1> img:nth-child(1){
    position: absolute;
    left: 0;
    top: -28px;
    z-index: 10;
}
main > section > .box1> img:nth-child(2){
    z-index: 11;
    position: absolute;
    left: 0;
    top: 0;
}
main > section > .box2{
    background: url(../img/main_box2_bg.png);
}
main > section > .box3{
    position: relative;
    background: url(../img/main_box3_bg.png);
}
main > section > .box3 .hot{
    position: absolute;
    top: 0;
    left: 28px;

}
main > section > .box4{
    background: url(../img/main_box4_bg.png);
    text-align: left;
}
main > section > .box5{
    position: relative;
    background: url(../img/main_box5_bg.jpg);
}
main > section > .box5 img{
    position: absolute;
    top: 0;
    right: 0;
}
main > section > .box6{
    position: relative;
    background: url(../img/main_box6_bg.jpg);
}
main > section > .box6 img{
    position: absolute;
    top: 0;
    right: 0;
}
main > section > .box7{
    position: relative;
    background: url(../img/main_box7_bg.png);
}

main > section > .box7 img:nth-child(1){
    position: absolute;
    left: 20px;
    top: 20px;
}
main > section > .box7 img:nth-child(2){
    position: absolute;
    left: 20px;
    top: 50px;
}
main > section > .box7 img:nth-child(3){
    position: absolute;
    left: 22px;
    top: 105px;
}

/* main > article */
main > article{
    border-top: 1px solid #becedb;
    border-bottom: 1px solid #becedb;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}
main > article > div{
    float: left;
    width: 25%;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}

main > article > .info01{
    border: 1px solid white;
}
main > article > .info01 img:nth-child(1){
    padding-bottom: 10px;
}

main > article > .info02{}
main > article > .info02 > table{
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 7px;
    border-color: grey;
}
main > article > .info02 > table > tbody{}
main > article > .info02 > table > tbody > tr{}
main > article > .info02 > table > tbody > tr > td{}
main > article > .info03{}
main > article > .info03 > table{
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 7px;
    border-color: grey;
}
main > article > .info04{}
main > article > .info04 > img{}
main > article > .info04 > .gal{}
main > article > .info04 > .gal > a{
    padding-top: 16px;
    display: inline-block;
    width: 75px;
    height: 55px;
}

main > article > .info04 > .gal a img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* footer */
footer{
    width: 1000px;
    height: 100px;
    box-sizing: border-box;
    margin: 0 auto;
}
footer > div{}
footer > div > img{
    float: left;
    padding-top: 14px;
}
footer > div > p{
    font-size: 11px;
    display: inline-block;
    margin-top: 20px;
    padding-left: 20px;
    color: #555;
    line-height: 20px;
}
